.box{
    border: 2px solid black;
    background-color:cadetblue;
    width: 10%;
    margin-left: 17%;
    margin-top: -9%;
    /* border-radius: 15%; */
    height: 4vh;
    cursor: pointer;
}
.lands{
    background-color:rgb(168, 214, 243);
    /* background-color: lightblue; */
    filter: brightness(120%);
    height:80vh;
}
.buss{
    margin-top: 5%;
}
.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 20px;
    width: 80%;
    margin-left: 10%;
    margin-top: 3%;
    height: 80vh;
    gap: 0px;
  }
  .flex-row{
    display: flex;
    gap: 50px;
  }
  .flex-item {
    border: 2px solid black;
    text-align: center;
    /* background-color: #f0f0f0; */
    padding: 20px;
    /* border: 1px solid #ddd; */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 60%;
    transition: transform 0.2s ease-in-out;
  }
  .flex-item h2,h4 {
    margin-top: 10px;
    font-size: 14px;
  }
  .flex-item:hover {
    transform: scale(1.05);
  }
  .flex-row1{
    display: flex;
    gap: 60px;
    margin-left: 15%;
    /* margin-top: -5%; */
    /* margin-top: 10%; */
  }
  .flex-item1{
    border: 2px solid black;
    text-align: center;
    /* background-color: #f0f0f0; */
    padding: 20px;
    /* border: 1px solid #ddd; */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 30%;
    /* margin-top: 30%; */
    transition: transform 0.2s ease-in-out;
  }
  .flex-item1:hover {
    transform: scale(1.05);
  }
  .img1{
    width:10%;
    margin-left:23%;
    cursor: pointer;
    /* margin-top:-5%; */
  }
 
  .img2{
    width:10%;
    margin-top:-3.5%;
    margin-left:35%;
  }





  /* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

